<?xml version='1.0' encoding='utf-8'?>
<settings>
  <debug>False</debug>
  <consoleLevel>INFO</consoleLevel>
  <logFile>fb2mobi-cli.log</logFile>
  <logLevel>DEBUG</logLevel>
  <outputFormat>epub</outputFormat>
  <kindleCompressionLevel>0</kindleCompressionLevel>
  <noDropcapsSymbols>'"-.…0123456789‒–—«»</noDropcapsSymbols>
  <transliterate>False</transliterate>
  <noMOBIoptimization>False</noMOBIoptimization>

  <!-- Voyage, PW3, Aura -->
  <screenWidth>988</screenWidth>
  <screenHeight>1322</screenHeight>

  <defaultProfile>default</defaultProfile>
  <profiles>
    <profile description="Default profile" name="default">
      <openBookFromCover>False</openBookFromCover>
      <hyphens>False</hyphens>
      <hyphensReplaceNBSP>True</hyphensReplaceNBSP>
      <dropcaps>None</dropcaps>
      <tocBeforeBody>True</tocBeforeBody>
      <tocType>Normal</tocType>
      <css parse="True">profiles/default.css</css>
      <xslt>spaces.xsl</xslt>
      <chapterOnNewPage>True</chapterOnNewPage>
      <authorFormat>#f #m #l</authorFormat>
      <bookTitleFormat>{(#abbrseries{ #padnumber}) }#title</bookTitleFormat>
      <annotationTitle>Annotation</annotationTitle>
      <tocTitle>Table of Contents</tocTitle>
      <notesMode>float</notesMode>
      <notesBodies>notes</notesBodies>
      <generateTOCPage>True</generateTOCPage>
      <generateAnnotationPage>True</generateAnnotationPage>
      <generateOPFGuide>True</generateOPFGuide>
      <kindleRemovePersonalLabel>True</kindleRemovePersonalLabel>
      <removePngTransparency>False</removePngTransparency>
      <generateAPNX>eink</generateAPNX>
    </profile>
</settings>
